#subpagina{
	width: : 900px;
	height: 2500px;
	border: 6px solid #DF01A5;
	
}

header {
	width: 1292px;
	height: 90px;
	border: 0px solid #FF0080;
	
}

#prin{
	width: 1350px;
	height: 0px;
	float: left;
	color:#08088A;
	text-align: center;
	font-family: Garamond;
	font-size: 25px;
}

.pagina ul{}
.pagina ul li{
	list-style: none;
	float: left;
	padding: 0px 155px;
	font-family: Didot;
	font-size: 20px;


}
.pagina ul li a{
	text-decoration: none;
	background: ;
	color: #000000;
}
.pagina ul li a:hover{
	background: #CC2EFA;
	padding: 10px 35px;
	color:#FFFFFF;	
}

.pagina{
	width: 1321px;
	height: 60px;
	margin-top: 100px;
	margin-bottom: 15px;
	background: #0489B1;
    float: left;
	text-align: center;

}


.texto1{
	margin-left: 350px;
	
	color:#000000;
	text-align: justify;
	font-family: book antiqua;
	font-size: 20px;

}

.truco1{

	
	margin-left: 50px;
	margin-right: 20px;
	text-align: center;
	color:#FF00BF;
	font-family: book antiqua;
	font-size: 25px;
}
.texto{
	margin-left: 350px;
	color:#000000;
	text-align: justify;
	font-family: book antiqua;
	font-size: 20px;

}
.truco{
margin-left: 200px;
	margin-right: 200px;
	
	text-align: center;
	color: #000000;
	font-family: book antiqua;
	font-size: 25px;
}